/* src/styles.css */

/* Ajusta el color de fondo del body */
body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
  /* Personaliza las tarjetas */
  .mat-card {
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  /* Ajusta el estilo del toolbar */
  .mat-toolbar {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  /* Puedes definir otras clases de utilidad según necesites */
  